@media only screen and (max-width:600px){
    body{
        width: min-content;
        height: auto;
        overflow-x: hidden;
    }
/* -----------------top-navbar--------------------- */


.top-header .top-nav{
    display: none;
}
/* -----------------top-navbar--------------------- */

/* -----------------top-second-navbar--------------------- */
.navbar {
    display: inline;
    align-items: center;
    background-color: white;
    padding: 0.7rem 2rem;
    margin-top: 30px;
}

    .navbar nav{
        flex-direction: column;
    }
    
    .navbar .logo{
        display: none;
    }

    .navbar .logo-1{
        display: block;
    }

    .navbar nav a {
        color: #000;
        font-weight: 500;
        transition: all 0.2s;
        font-family: "Inter", sans-serif;
        font-size: 3rem;
        font-weight: 400;
    }

    .navbar .logo-1 {
        font-size: 3rem;
        font-weight: 700;
        color: #163234;
        transition: all 0.2s;
        font-family: "Newsreader", serif;
    }

    .drop-icon{
        margin: 0px 5px -6px 5px;
    }

    .navbar a img{
        width: 40px;
        height: 40px;
    }

    .navbar .cta {
        width: 50%;
        padding: 2rem;
        background-color: #163234;
        color: white;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
    }
    
    .navbar .cta:hover {
        background-color: #31676b;
        color: white;
    }
    /* -----------------top-second-navbar--------------------- */


/* -----------------whole-new-collection-section----------------- */
#mid-section{
    display: flex;
    /* grid-template-rows: auto; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
}


.new-coll-txt{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #C67A2F;
}

.whole-new-collection-text{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 8rem;
    color: #163234;
}

.collection-text{
    font-family: "Newsreader", serif;
    font-size: 3rem;
    font-weight: 400;
}

.col-txt-2{
    font-family: "Newsreader", serif;
    font-size: 3rem;
    font-weight: 400;
}

.collection-right .collection-img-left{
    width:100%;
    height: auto;
    border-radius: 52px;
}

.collection-left .collection-img-right{
    width:373px;
    height: 248px;
    border-top-right-radius: 50px;
    display: none;
}

.read-more-btn{
    width: 50%;
    padding: 2rem;
	background-color: #163234;
	color: #F3DECE;
	border-radius: 50px;
	font-size: 2rem;
    border: none;
    margin-bottom: 1rem;
}


/* -----------------whole-new-collection-section----------------- */
/* -----------------fefatured-products-section----------------- */
.featured-products{
    width: auto;
    height: auto;
    background: #F3DECE;
}
.fp-txt{
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #C67A2F;
    padding-top: 3.5rem;
}
.carttxt p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-1 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-2 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-3 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.cart-price{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}


.SB-txt{
    font-family: "Newsreader", serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}
.multiple-products{
    grid-template-columns: min-content;
    column-gap: 3.5rem;
    justify-content: center;
    margin-left: 0;
}


.txt-cart,.txt-cart-1,.txt-cart-2,.txt-cart-3{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.fp-icon-cart{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-1{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-2{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-3{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.card-img-1,.card-img-2,.card-img-3,.card-img-4{
    align-items: center;
    text-align: left;
    justify-content: center;
}

.card-img-1 .fp-img-1{
    width: 300px;
    height: 300px;
}

.card-img-2 .fp-img-2{
    width: 300px;
    height: 300px;
}

.card-img-3 .fp-img-3{
    width: 300px;
    height: 300px;
}

.card-img-4 .fp-img-4{
    width: 300px;
    height: 300px;
}




/* -----------------fefatured-products-section----------------- */



/* -----------------our-company-section----------------- */
.values{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    row-gap: 0.5rem;
    justify-content: center;
}

.our-company .our-company-txt{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #C67A2F;
}

.our-company h3{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}

.certificate{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-right-radius:50px;
    margin-left: 1rem;
}

.certificate svg{
    margin-top: 40px;
    margin-left: 50%;
}

.certificate .cert-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.certificate .cert-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}
.gold .gold-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.gold .gold-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}


.gold svg{
    margin-top: 40px;
    margin-left: 50%;
}
.diamond .diamond-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.diamond .diamond-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 36px;
}


.diamond svg{
    margin-top: 40px;
    margin-left: 50%;
}


.gold{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-top-left-radius:50px;
}

.diamond{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-left-radius:50px;
}
/* -----------------our-company-section----------------- */
/* -----------------join-insta-commu-section----------------- */
.join-instagram-comm{
    grid-template-columns: none;
    column-gap: 8rem;
    margin-top: 50px;
    justify-content: center;
}

.first-model{
    margin-left: 20px;
}

.first-model img{
    width: 500px;
    height: 500px;
    border-bottom-right-radius: 50px;
}

.second-model img{
    width: 500px;
    height: 500px;
    border-top-left-radius: 50px;
}

.third-model img{
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 50px;
}

.join-insta{
    width: 500px;
    height: 500px;
    background: #FDDAC6;
    border-top-right-radius: 50px;
}

.join-insta svg{
    width: 62px;
    height: 45px;
    margin-top: 53px;
    margin-left: 30px;
}

.join-insta .jc-txt{
    margin-left: 30px;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 500;
}


/* -----------------join-insta-commu-section----------------- */


/* -----------------singleProductPage-section----------------- */

.productDisplay{
    display: grid;
    grid-template-columns: none;
    margin-top: 1rem;
}

.productVariousAngles{
    display: none;
}

.productVariousAngles-1{
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 2rem;
    width: 130px;
    height: 110px;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 0;
}

.productVariousAngles-1 img{
    width: 130px;
    height: 110px;
    border: 1px solid #C67A2F;
    border-radius:20px;
}

.productMainAngle{
    width: auto;
    height: 586px;
    padding-left: 0;
}


.productMainAngle img{
    width: auto;
    height: 586px;
    border: 1px solid #C67A2F;
    border-radius:20px;
}

.productDescription h3{
    font-family: "Inter",'sans-serif';
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.productDescription h4,h5{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0;
}

.productDescription p{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
}

.colour-txt-cart-btn{
    display: flex;
    gap: 2rem;
}


.colorPicker{
    margin-top: 0;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.colour-txt{
    font-family: "Inter",'sans-serif';
    font-size: 1rem;
    font-weight:700;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.orangeCircle{
    width: 15px;
    height: 16px;
    background-color: #FF9A62;
    border-radius: 50%;
    cursor: pointer;
}

.whiteCircle{
    width: 15px;
    height: 16px;
    background-color: #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
}

.pinkCircle{
    width: 15px;
    height: 16px;
    background-color: #FEBFBF;
    border-radius: 50%;
    cursor: pointer;
}


.cart-Button{
    width: 126px;
    height: 48px;
    background-color: #163234;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.cart-Button:hover{
	background-color: #31676b;
    color: white;
    cursor: pointer;
}


.RingSize p{
    font-family: "Inter",sans-serif;
    font-size: 1rem;
}
#ring-sizes{
    width: 280px;
    height: 60px;
    padding: 10px;
    border: white;
    border-radius: 8px;
    background: white;
    margin-left: 1rem;
    box-shadow: 1px 0 10px 1px #c6c6c6;
    font-family: "Inter",sans-serif;
    font-size: 1rem;
    color: #666666;

}

/* -----------------singleProductPage-section----------------- */


/*-------------------CartPageSection---------------------------*/


/* -----------------footer-section----------------- */
.footer{
    width: auto;
    height: auto;
    background: #163234;
    margin-top: 50px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.footer h3{
    font-family: "Inter", sans-serif;
    color: #C5AD9C;
    font-size: 0.6rem;
    margin-left: 30px;
}

.categories, .contact-us, .Payments, .legalEssentials, .follow-us{
    margin-top: 10px;
    margin-left: 30px;
}

.categories h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.categories p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.contact-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.contact-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.Payments h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.Payments p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.legalEssentials h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.legalEssentials p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.follow-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.follow-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.footer h3{
    font-size: 1rem;
    text-align: center;
}
/* -----------------footer-section----------------- */


}


@media (min-width: 768px) and (max-width: 1024px)  {
    body{
        width: auto;
        height: auto;
        overflow-x: hidden;
    }
/* -----------------top-navbar--------------------- */


.top-header .top-nav{
    display: none;
}
/* -----------------top-navbar--------------------- */

/* -----------------top-second-navbar--------------------- */
.navbar {
    display: inline;
    align-items: center;
    background-color: white;
    padding: 0.7rem 2rem;
    margin-top: 30px;
}

    .navbar nav{
        flex-direction: column;
    }
    
    .navbar .logo{
        display: none;
    }

    .navbar .logo-1{
        display: block;
    }

    .navbar nav a {
        color: #000;
        font-weight: 500;
        transition: all 0.2s;
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        font-weight: 400;
    }

    .navbar .logo-1 {
        font-size: 3rem;
        font-weight: 700;
        color: #163234;
        transition: all 0.2s;
        font-family: "Newsreader", serif;
    }

    .drop-icon{
        margin: 0px 5px -6px 5px;
    }

    .navbar a img{
        width: 40px;
        height: 40px;
    }

    .navbar .cta {
        width: 50%;
        padding: 1rem;
        background-color: #163234;
        color: white;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
    }
    
    .navbar .cta:hover {
        background-color: #31676b;
        color: white;
    }
    /* -----------------top-second-navbar--------------------- */


/* -----------------whole-new-collection-section----------------- */
#mid-section{
    display: flex;
    /* grid-template-rows: auto; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
}


.new-coll-txt{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #C67A2F;
}

.whole-new-collection-text{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 7rem;
    color: #163234;
    margin-top: 0;
    margin-bottom: 0;
}

.collection-text{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
}

.col-txt-2{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
}

.collection-right .collection-img-left{
    width:100%;
    height: auto;
    border-radius: 52px;
}

.collection-left .collection-img-right{
    width:373px;
    height: 248px;
    border-top-right-radius: 50px;
    display: none;
}

.read-more-btn{
    width: 50%;
    padding: 2rem;
	background-color: #163234;
	color: #F3DECE;
	border-radius: 50px;
	font-size: 2rem;
    border: none;
    margin-bottom: 1rem;
}


/* -----------------whole-new-collection-section----------------- */
/* -----------------fefatured-products-section----------------- */
.featured-products{
    width: auto;
    height: auto;
    background: #F3DECE;
}
.fp-txt{
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #C67A2F;
    padding-top: 3.5rem;
}
.carttxt p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-1 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-2 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-3 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.cart-price{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}


.SB-txt{
    font-family: "Newsreader", serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}
.multiple-products{
    grid-template-columns: min-content;
    column-gap: 3.5rem;
    justify-content: center;
}


.txt-cart,.txt-cart-1,.txt-cart-2,.txt-cart-3{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.fp-icon-cart{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-1{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-2{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-3{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.card-img-1,.card-img-2,.card-img-3,.card-img-4{
    align-items: center;
    text-align: left;
    justify-content: center;
}

.card-img-1 .fp-img-1{
    width: 300px;
    height: 300px;
}

.card-img-2 .fp-img-2{
    width: 300px;
    height: 300px;
}

.card-img-3 .fp-img-3{
    width: 300px;
    height: 300px;
}

.card-img-4 .fp-img-4{
    width: 300px;
    height: 300px;
}




/* -----------------fefatured-products-section----------------- */



/* -----------------our-company-section----------------- */
.values{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    row-gap: 0.5rem;
    justify-content: center;
}

.our-company .our-company-txt{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #C67A2F;
}

.our-company h3{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}

.certificate{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-right-radius:50px;
    margin-left: 1rem;
}

.certificate svg{
    margin-top: 40px;
    margin-left: 50%;
}

.certificate .cert-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.certificate .cert-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}
.gold .gold-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.gold .gold-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}


.gold svg{
    margin-top: 40px;
    margin-left: 50%;
}
.diamond .diamond-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.diamond .diamond-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 36px;
}


.diamond svg{
    margin-top: 40px;
    margin-left: 50%;
}


.gold{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-top-left-radius:50px;
}

.diamond{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-left-radius:50px;
}
/* -----------------our-company-section----------------- */
/* -----------------join-insta-commu-section----------------- */
.join-instagram-comm{
    grid-template-columns: none;
    column-gap: 8rem;
    margin-top: 50px;
    justify-content: center;
}

.first-model{
    margin-left: 20px;
}

.first-model img{
    width: 500px;
    height: 500px;
    border-bottom-right-radius: 50px;
}

.second-model img{
    width: 500px;
    height: 500px;
    border-top-left-radius: 50px;
}

.third-model img{
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 50px;
}

.join-insta{
    width: 500px;
    height: 500px;
    background: #FDDAC6;
    border-top-right-radius: 50px;
}

.join-insta svg{
    width: 62px;
    height: 45px;
    margin-top: 53px;
    margin-left: 30px;
}

.join-insta .jc-txt{
    margin-left: 30px;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 500;
}


/* -----------------join-insta-commu-section----------------- */


/* -----------------singleProductPage-section----------------- */

.productDisplay{
    display: grid;
    grid-template-columns: none;
    margin-top: 1rem;
}

.productVariousAngles{
    display: none;
}

.productVariousAngles-1{
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    margin-bottom: 2rem;
    width: 130px;
    height: 110px;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 0;
}

.productVariousAngles-1 img{
    width: 130px;
    height: 110px;
    border: 1px solid #C67A2F;
    border-radius:20px;
}

.productMainAngle{
    width: auto;
    height: 586px;
    padding-left: 0;
}


.productMainAngle img{
    width: auto;
    height: 586px;
    border: 1px solid #C67A2F;
    border-radius:20px;
    margin-left: 1rem;
}

.productDescription h3{
    font-family: "Inter",'sans-serif';
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.productDescription h4,h5{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0;
}

.productDescription p{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
}

.colour-txt-cart-btn{
    display: flex;
    gap: 2rem;
}


.colorPicker{
    margin-top: 0;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.colour-txt{
    font-family: "Inter",'sans-serif';
    font-size: 1rem;
    font-weight:700;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.orangeCircle{
    width: 15px;
    height: 16px;
    background-color: #FF9A62;
    border-radius: 50%;
    cursor: pointer;
}

.whiteCircle{
    width: 15px;
    height: 16px;
    background-color: #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
}

.pinkCircle{
    width: 15px;
    height: 16px;
    background-color: #FEBFBF;
    border-radius: 50%;
    cursor: pointer;
}


.cart-Button{
    width: 126px;
    height: 48px;
    background-color: #163234;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.cart-Button:hover{
	background-color: #31676b;
    color: white;
    cursor: pointer;
}


.RingSize p{
    font-family: "Inter",sans-serif;
    font-size: 1rem;
}
#ring-sizes{
    width: 280px;
    height: 60px;
    padding: 10px;
    border: white;
    border-radius: 8px;
    background: white;
    margin-left: 1rem;
    box-shadow: 1px 0 10px 1px #c6c6c6;
    font-family: "Inter",sans-serif;
    font-size: 1rem;
    color: #666666;

}

/* -----------------singleProductPage-section----------------- */


/* -----------------footer-section----------------- */
.footer{
    width: auto;
    height: auto;
    background: #163234;
    margin-top: 50px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.footer h3{
    font-family: "Inter", sans-serif;
    color: #C5AD9C;
    font-size: 0.6rem;
    margin-left: 30px;
}

.categories, .contact-us, .Payments, .legalEssentials, .follow-us{
    margin-top: 10px;
    margin-left: 30px;
}

.categories h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.categories p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.contact-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.contact-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.Payments h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.Payments p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.legalEssentials h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.legalEssentials p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.follow-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.follow-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.footer h3{
    font-size: 1rem;
    text-align: center;
}
} 


@media (min-width: 820px) and (max-width: 1180px)  {
    body{
        width: auto;
        height: auto;
        overflow-x: hidden;
    }
/* -----------------top-navbar--------------------- */


.top-header .top-nav{
    display: none;
}
/* -----------------top-navbar--------------------- */

/* -----------------top-second-navbar--------------------- */
.navbar {
    display: inline;
    align-items: center;
    background-color: white;
    padding: 0.7rem 2rem;
    margin-top: 30px;
}

    .navbar nav{
        flex-direction: column;
    }
    
    .navbar .logo{
        display: none;
    }

    .navbar .logo-1{
        display: block;
    }

    .navbar nav a {
        color: #000;
        font-weight: 500;
        transition: all 0.2s;
        font-family: "Inter", sans-serif;
        font-size: 1.9rem;
        font-weight: 400;
    }

    .navbar .logo-1 {
        font-size: 3rem;
        font-weight: 700;
        color: #163234;
        transition: all 0.2s;
        font-family: "Newsreader", serif;
    }

    .drop-icon{
        margin: 0px 5px -6px 5px;
    }

    .navbar a img{
        width: 40px;
        height: 40px;
    }

    .navbar .cta {
        width: 50%;
        padding: 1rem;
        background-color: #163234;
        color: white;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
    }
    
    .navbar .cta:hover {
        background-color: #31676b;
        color: white;
    }
    /* -----------------top-second-navbar--------------------- */


/* -----------------whole-new-collection-section----------------- */
#mid-section{
    display: flex;
    /* grid-template-rows: auto; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
}


.new-coll-txt{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #C67A2F;
}

.whole-new-collection-text{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 6.5rem;
    color: #163234;
    margin-top: 0;
    margin-bottom: 0;
}

.collection-text{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
}

.col-txt-2{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
}

.collection-right .collection-img-left{
    width:100%;
    height: auto;
    border-radius: 52px;
}

.collection-left .collection-img-right{
    width:373px;
    height: 248px;
    border-top-right-radius: 50px;
    display: none;
}

.read-more-btn{
    width: 50%;
    padding: 1rem;
	background-color: #163234;
	color: #F3DECE;
	border-radius: 50px;
	font-size: 2rem;
    border: none;
    margin-bottom: 1rem;
}


/* -----------------whole-new-collection-section----------------- */
/* -----------------fefatured-products-section----------------- */
.featured-products{
    width: auto;
    height: auto;
    background: #F3DECE;
}
.fp-txt{
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #C67A2F;
    padding-top: 3.5rem;
}
.carttxt p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-1 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-2 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-3 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.cart-price{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}


.SB-txt{
    font-family: "Newsreader", serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}
.multiple-products{
    grid-template-columns: min-content;
    column-gap: 3.5rem;
    justify-content: center;
}


.txt-cart,.txt-cart-1,.txt-cart-2,.txt-cart-3{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.fp-icon-cart{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-1{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-2{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-3{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.card-img-1,.card-img-2,.card-img-3,.card-img-4{
    align-items: center;
    text-align: left;
    justify-content: center;
}

.card-img-1 .fp-img-1{
    width: 300px;
    height: 300px;
}

.card-img-2 .fp-img-2{
    width: 300px;
    height: 300px;
}

.card-img-3 .fp-img-3{
    width: 300px;
    height: 300px;
}

.card-img-4 .fp-img-4{
    width: 300px;
    height: 300px;
}




/* -----------------fefatured-products-section----------------- */



/* -----------------our-company-section----------------- */
.values{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    row-gap: 0.5rem;
    justify-content: center;
}

.our-company .our-company-txt{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #C67A2F;
}

.our-company h3{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}

.certificate{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-right-radius:50px;
    margin-left: 1rem;
}

.certificate svg{
    margin-top: 40px;
    margin-left: 50%;
}

.certificate .cert-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.certificate .cert-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}
.gold .gold-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.gold .gold-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}


.gold svg{
    margin-top: 40px;
    margin-left: 50%;
}
.diamond .diamond-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.diamond .diamond-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 36px;
}


.diamond svg{
    margin-top: 40px;
    margin-left: 50%;
}


.gold{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-top-left-radius:50px;
}

.diamond{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-left-radius:50px;
}
/* -----------------our-company-section----------------- */
/* -----------------join-insta-commu-section----------------- */
.join-instagram-comm{
    grid-template-columns: none;
    column-gap: 8rem;
    margin-top: 50px;
    justify-content: center;
}

.first-model{
    margin-left: 20px;
}

.first-model img{
    width: 500px;
    height: 500px;
    border-bottom-right-radius: 50px;
}

.second-model img{
    width: 500px;
    height: 500px;
    border-top-left-radius: 50px;
}

.third-model img{
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 50px;
}

.join-insta{
    width: 500px;
    height: 500px;
    background: #FDDAC6;
    border-top-right-radius: 50px;
}

.join-insta svg{
    width: 62px;
    height: 45px;
    margin-top: 53px;
    margin-left: 30px;
}

.join-insta .jc-txt{
    margin-left: 30px;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}


/* -----------------join-insta-commu-section----------------- */


/* -----------------singleProductPage-section----------------- */

.productDisplay{
    display: grid;
    grid-template-columns: none;
    margin-top: 1rem;
}

.productVariousAngles{
    display: none;
}

.productVariousAngles-1{
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    margin-bottom: 2rem;
    width: 130px;
    height: 110px;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 0;
}

.productVariousAngles-1 img{
    width: 130px;
    height: 110px;
    border: 1px solid #C67A2F;
    border-radius:20px;
}

.productMainAngle{
    width: auto;
    height: 586px;
    padding-left: 0;
}


.productMainAngle img{
    width: auto;
    height: 586px;
    border: 1px solid #C67A2F;
    border-radius:20px;
    margin-left: 2.5rem;
}

.productDescription h3{
    font-family: "Inter",'sans-serif';
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.productDescription hr{
    width: 745px;
    margin-left: 2rem;
}


.productDescription h4,h5{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0;
}

.productDescription p{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
}

.colour-txt-cart-btn{
    display: flex;
    gap: 2rem;
}


.colorPicker{
    margin-top: 0;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.colour-txt{
    font-family: "Inter",'sans-serif';
    font-size: 1rem;
    font-weight:700;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.orangeCircle{
    width: 15px;
    height: 16px;
    background-color: #FF9A62;
    border-radius: 50%;
    cursor: pointer;
}

.whiteCircle{
    width: 15px;
    height: 16px;
    background-color: #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
}

.pinkCircle{
    width: 15px;
    height: 16px;
    background-color: #FEBFBF;
    border-radius: 50%;
    cursor: pointer;
}


.cart-Button{
    width: 126px;
    height: 48px;
    background-color: #163234;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.cart-Button:hover{
	background-color: #31676b;
    color: white;
    cursor: pointer;
}


.RingSize p{
    font-family: "Inter",sans-serif;
    font-size: 1rem;
}
#ring-sizes{
    width: 280px;
    height: 60px;
    padding: 10px;
    border: white;
    border-radius: 8px;
    background: white;
    margin-left: 1rem;
    box-shadow: 1px 0 10px 1px #c6c6c6;
    font-family: "Inter",sans-serif;
    font-size: 1rem;
    color: #666666;

}

/* -----------------singleProductPage-section----------------- */


/* -----------------footer-section----------------- */
.footer{
    width: auto;
    height: auto;
    background: #163234;
    margin-top: 50px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.footer h3{
    font-family: "Inter", sans-serif;
    color: #C5AD9C;
    font-size: 0.6rem;
    margin-left: 30px;
}

.categories, .contact-us, .Payments, .legalEssentials, .follow-us{
    margin-top: 10px;
    margin-left: 30px;
}

.categories h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.categories p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.contact-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.contact-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.Payments h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.Payments p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.legalEssentials h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.legalEssentials p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.follow-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.follow-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.footer h3{
    font-size: 1rem;
    text-align: center;
}
} 




@media (min-width: 1024px) and (max-width: 1366px)  {
    body{
        width: auto;
        height: auto;
        overflow-x: hidden;
    }
/* -----------------top-navbar--------------------- */


.top-header .top-nav{
    display: none;
}
/* -----------------top-navbar--------------------- */

/* -----------------top-second-navbar--------------------- */
.navbar {
    display: inline;
    align-items: center;
    background-color: white;
    padding: 0.7rem 2rem;
    margin-top: 30px;
}

    .navbar nav{
        flex-direction: column;
    }
    
    .navbar .logo{
        display: none;
    }

    .navbar .logo-1{
        display: block;
    }

    .navbar nav a {
        color: #000;
        font-weight: 500;
        transition: all 0.2s;
        font-family: "Inter", sans-serif;
        font-size: 1.9rem;
        font-weight: 400;
    }

    .navbar .logo-1 {
        font-size: 3rem;
        font-weight: 700;
        color: #163234;
        transition: all 0.2s;
        font-family: "Newsreader", serif;
    }

    .drop-icon{
        margin: 0px 5px -6px 5px;
    }

    .navbar a img{
        width: 40px;
        height: 40px;
    }

    .navbar .cta {
        width: 50%;
        padding: 1rem;
        background-color: #163234;
        color: white;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
    }
    
    .navbar .cta:hover {
        background-color: #31676b;
        color: white;
    }
    /* -----------------top-second-navbar--------------------- */


/* -----------------whole-new-collection-section----------------- */
#mid-section{
    display: flex;
    /* grid-template-rows: auto; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
}


.new-coll-txt{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #C67A2F;
}

.whole-new-collection-text{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 6.5rem;
    color: #163234;
    margin-top: 0;
    margin-bottom: 0;
}

.collection-text{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
}

.col-txt-2{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
}

.collection-right .collection-img-left{
    width:100%;
    height: auto;
    border-radius: 52px;
}

.collection-left .collection-img-right{
    width:373px;
    height: 248px;
    border-top-right-radius: 50px;
    display: none;
}

.read-more-btn{
    width: 50%;
    padding: 1rem;
	background-color: #163234;
	color: #F3DECE;
	border-radius: 50px;
	font-size: 2rem;
    border: none;
    margin-bottom: 1rem;
}


/* -----------------whole-new-collection-section----------------- */
/* -----------------fefatured-products-section----------------- */
.featured-products{
    width: auto;
    height: auto;
    background: #F3DECE;
}
.fp-txt{
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #C67A2F;
    padding-top: 3.5rem;
}
.carttxt p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-1 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-2 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.fptxt-3 p{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}

.cart-price{
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
}


.SB-txt{
    font-family: "Newsreader", serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}
.multiple-products{
    grid-template-columns: min-content;
    column-gap: 3.5rem;
    justify-content: center;
}


.txt-cart,.txt-cart-1,.txt-cart-2,.txt-cart-3{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.fp-icon-cart{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-1{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-2{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.fp-icon-cart-3{
    margin-top: 1.2rem;
    margin-left: 4rem;
    width: 34px;
    height: 34px;
}

.card-img-1,.card-img-2,.card-img-3,.card-img-4{
    align-items: center;
    text-align: left;
    justify-content: center;
}

.card-img-1 .fp-img-1{
    width: 300px;
    height: 300px;
}

.card-img-2 .fp-img-2{
    width: 300px;
    height: 300px;
}

.card-img-3 .fp-img-3{
    width: 300px;
    height: 300px;
}

.card-img-4 .fp-img-4{
    width: 300px;
    height: 300px;
}




/* -----------------fefatured-products-section----------------- */



/* -----------------our-company-section----------------- */
.values{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    row-gap: 0.5rem;
    justify-content: center;
}

.our-company .our-company-txt{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #C67A2F;
}

.our-company h3{
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #163234;
    padding-top: 1rem;
}

.certificate{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-right-radius:50px;
    margin-left: 1rem;
}

.certificate svg{
    margin-top: 40px;
    margin-left: 50%;
}

.certificate .cert-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.certificate .cert-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}
.gold .gold-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.gold .gold-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}


.gold svg{
    margin-top: 40px;
    margin-left: 50%;
}
.diamond .diamond-txt{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.diamond .diamond-txt-1{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 36px;
}


.diamond svg{
    margin-top: 40px;
    margin-left: 50%;
}


.gold{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-top-left-radius:50px;
}

.diamond{
    width: auto;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-left-radius:50px;
}
/* -----------------our-company-section----------------- */
/* -----------------join-insta-commu-section----------------- */
.join-instagram-comm{
    grid-template-columns: none;
    column-gap: 8rem;
    margin-top: 50px;
    justify-content: center;
}

.first-model{
    margin-left: 20px;
}

.first-model img{
    width: 500px;
    height: 500px;
    border-bottom-right-radius: 50px;
}

.second-model img{
    width: 500px;
    height: 500px;
    border-top-left-radius: 50px;
}

.third-model img{
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 50px;
}

.join-insta{
    width: 500px;
    height: 500px;
    background: #FDDAC6;
    border-top-right-radius: 50px;
}

.join-insta svg{
    width: 62px;
    height: 45px;
    margin-top: 53px;
    margin-left: 30px;
}

.join-insta .jc-txt{
    margin-left: 30px;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}


/* -----------------join-insta-commu-section----------------- */


/* -----------------singleProductPage-section----------------- */

.productDisplay{
    display: grid;
    grid-template-columns: none;
    margin-top: 1rem;
}

.productVariousAngles{
    display: none;
}

.productVariousAngles-1{
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    margin-bottom: 2rem;
    width: 130px;
    height: 110px;
    margin-left: 23%;
    margin-right: 5%;
    margin-top: 0;
}

.productVariousAngles-1 img{
    width: 130px;
    height: 110px;
    border: 1px solid #C67A2F;
    border-radius:20px;
}

.productMainAngle{
    width: auto;
    height: 586px;
    padding-left: 0;
}


.productMainAngle img{
    width: auto;
    height: 586px;
    border: 1px solid #C67A2F;
    border-radius:20px;
    margin-left: 15%;
}

.productDescription h3{
    font-family: "Inter",'sans-serif';
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.productDescription hr{
    width: auto;
    margin-left: 2rem;
}


.productDescription h4,h5{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0;
}

.productDescription p{
    font-family: "Inter",'sans-serif';
    font-size: 1.5rem;
    margin-left: 2rem;
}

.colour-txt-cart-btn{
    display: flex;
    gap: 2rem;
}


.colorPicker{
    margin-top: 0;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.colour-txt{
    font-family: "Inter",'sans-serif';
    font-size: 1rem;
    font-weight:700;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.orangeCircle{
    width: 15px;
    height: 16px;
    background-color: #FF9A62;
    border-radius: 50%;
    cursor: pointer;
}

.whiteCircle{
    width: 15px;
    height: 16px;
    background-color: #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
}

.pinkCircle{
    width: 15px;
    height: 16px;
    background-color: #FEBFBF;
    border-radius: 50%;
    cursor: pointer;
}


.cart-Button{
    width: 126px;
    height: 48px;
    background-color: #163234;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.cart-Button:hover{
	background-color: #31676b;
    color: white;
    cursor: pointer;
}


.RingSize p{
    font-family: "Inter",sans-serif;
    font-size: 1rem;
}
#ring-sizes{
    width: 280px;
    height: 60px;
    padding: 10px;
    border: white;
    border-radius: 8px;
    background: white;
    margin-left: 1rem;
    box-shadow: 1px 0 10px 1px #c6c6c6;
    font-family: "Inter",sans-serif;
    font-size: 1rem;
    color: #666666;

}

/* -----------------singleProductPage-section----------------- */


/* -----------------footer-section----------------- */
.footer{
    width: auto;
    height: auto;
    background: #163234;
    margin-top: 50px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.footer h3{
    font-family: "Inter", sans-serif;
    color: #C5AD9C;
    font-size: 0.6rem;
    margin-left: 30px;
}

.categories, .contact-us, .Payments, .legalEssentials, .follow-us{
    margin-top: 10px;
    margin-left: 30px;
}

.categories h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.categories p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.contact-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.contact-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.Payments h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.Payments p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.legalEssentials h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.legalEssentials p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.follow-us h4{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #C67A2F;
}

.follow-us p{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FFD6C0;
}

.footer h3{
    font-size: 1rem;
    text-align: center;
}
} 