@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* -----------------top-navbar--------------------- */

.top-header {
    width: auto;
    height: auto;
    background: #1E3231;
    color: white;
    margin-top: 0;
    padding: 1px;
    align-items: center;
    justify-content: center;
}

/* .top-header .top-nav {
    display: flex;
    column-gap: 14rem;
    list-style: none;
} */


.top-header h5 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

}

/* -----------------top-navbar--------------------- */


/* -----------------top-second-navbar--------------------- */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.1rem 2rem;
    margin-top: 1rem;
}



.navbar .logo img {
    width: 100px;
    height: 100px;
}

.navbar .logo:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar .logo-1 img {
    width: 100px;
    height: 100px;
    display: none;
}

.navbar .logo-1:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 4rem;
}


.navbar nav a {
    color: #000;
    font-weight: 500;
    transition: all 0.2s;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}


.navbar nav a:hover {
    color: #1f4548;
}

.navbar .cta {
    padding: 0.65rem 1rem;
    background-color: #1E3231;
    color: white;
    border-radius: 0.3rem;
    font-size: 90%;
}

.navbar .cta:hover {
    background-color: #31676b;
    color: white;
}

.drop-icon {
    width: 20px;
    height: 21px;
    margin: 0px 5px -6px 5px;
}

#hamburger {
    display: none;
    float: inline-end;
    margin-top: 0rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

/* -----------------top-second-navbar------------ */

/* -----------------hero-section----------------- */

.home-hero-sec {
    /* width: 100%;
    height: 500px;
    margin-top: 17px; */
    width: auto;
    height: 400px;
    background: #1E3231;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 392px;
}

.left-hero-title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.left-hero-title h3{
    font-family: "Newsreader", serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    align-items: center;
}

.left-hero-title h4{
    font-family: "Newsreader", serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.right-hero-title img{
    width: 300px;
    height: 300px;
}

.shop-btn{
    width: 100px;
    height: 45px;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    background: #C97F5F;
    border: none;
    color: white;
    cursor: pointer;
}

.new-col {
    margin-left: 10rem;
}

.image-left {
    margin-top: -6.9rem;
    margin-left: -10rem;
}

.julyTime {
    margin-left: 10rem;
}

/* -----------------hero-section----------------- */

/* -----------------whole-new-collection-section----------------- */

#mid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 3rem;
}

.new-coll-txt {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #C67A2F;
}

.whole-new-collection-text {
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 2rem;
    color: #1E3231;
}

.collection-right .collection-img-left {
    width: 392px;
    height: 520px;
    border-bottom-right-radius: 52px;
}

.collection-left .collection-img-right {
    width: 373px;
    height: 248px;
    border-top-right-radius: 50px;
}

.read-more-btn {
    padding: 0.65rem 1rem;
    background-color: #1E3231;
    color: #F3DECE;
    border-radius: 50px;
    font-size: 90%;
    border: none;
    cursor: pointer;
}

/* -----------------whole-new-collection-section----------------- */


/* -----------------featured-products-section----------------- */

.featured-products {
    width: auto;
    height: 600px;
    background: #F3DECE;
}

.fp-txt {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #C67A2F;
    padding-top: 3.5rem;
}

.SB-txt {
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #1E3231;
    padding-top: 1rem;
}

.multiple-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3.5rem;
    margin-left: 5rem;
}

/* .card-img-1{
    margin-left: 3rem;
} */

.txt-cart,
.txt-cart-1,
.txt-cart-2,
.txt-cart-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.fp-icon-cart {
    margin-top: 1.2rem;
    margin-left: 2rem;
    width: 18px;
    height: 18px;
}

.fp-icon-cart-1 {
    margin-top: 1.2rem;
    margin-left: 1rem;
    width: 18px;
    height: 18px;
}

.fp-icon-cart-2 {
    margin-top: 1.2rem;
    margin-left: 1rem;
    width: 18px;
    height: 18px;
}

.fp-icon-cart-3 {
    margin-top: 1.2rem;
    margin-left: 1rem;
    width: 18px;
    height: 18px;
}

.card-img-1,
.card-img-2,
.card-img-3,
.card-img-4 {
    align-items: center;
    text-align: left;
    justify-content: center;
}



.card-img-1 .fp-img-1 {
    width: 217px;
    height: 192px;
}

.card-img-2 .fp-img-2 {
    width: 217px;
    height: 192px;
}

.card-img-3 .fp-img-3 {
    width: 217px;
    height: 192px;
}

.card-img-4 .fp-img-4 {
    width: 217px;
    height: 192px;
}


/* -----------------featured-products-section----------------- */




/* -----------------our-company-section----------------- */

.values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.our-company .our-company-txt {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #C67A2F;
}

.our-company h3 {
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #1E3231;
    padding-top: 1rem;
}

.certificate {
    width: 471px;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-right-radius: 50px;
    margin-left: 1rem;
}

.certificate svg {
    margin-top: 40px;
    margin-left: 30px;
}

.certificate .cert-txt {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.certificate .cert-txt-1 {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}

.gold .gold-txt {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.gold .gold-txt-1 {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 36px;
}


.gold svg {
    margin-top: 40px;
    margin-left: 30px;
}

.diamond .diamond-txt {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 36px;
}

.diamond .diamond-txt-1 {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 36px;
}


.diamond svg {
    margin-top: 40px;
    margin-left: 30px;
}


.gold {
    width: 471px;
    height: 331px;
    border: 1px solid #FF9A62;
    border-top-left-radius: 50px;
}

.diamond {
    width: 471px;
    height: 331px;
    border: 1px solid #FF9A62;
    border-bottom-left-radius: 50px;
}

/* -----------------our-company-section----------------- */



/* -----------------join-our-community-section----------------- */
.join-instagram-comm {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    column-gap: 8rem;
    margin-top: 50px;
}

.first-model {
    margin-left: 20px;
}

.first-model img {
    width: 252px;
    height: 240px;
    border-bottom-right-radius: 50px;
}

.second-model img {
    width: 252px;
    height: 240px;
    border-top-left-radius: 50px;
}

.third-model img {
    width: 252px;
    height: 240px;
    border-bottom-left-radius: 50px;
}

.join-insta {
    width: 256px;
    height: 230px;
    background: #FDDAC6;
    border-top-right-radius: 50px;
}

.join-insta svg {
    margin-top: 53px;
    margin-left: 30px;
}

.join-insta .jc-txt {
    margin-left: 30px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/* -----------------join-our-community-section----------------- */

/* -----------------footer-section----------------- */

.footer {
    width: auto;
    height: 350px;
    background: #1E3231;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer h3 {
    font-family: "Inter", sans-serif;
    color: #C5AD9C;
    font-size: 0.6rem;
    margin-left: 30px;
}

.categories,
.contact-us,
.Payments,
.legalEssentials,
.follow-us {
    margin-top: 50px;
    margin-left: 30px;
}

.categories h4 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
}

.categories p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #FFD6C0;
}

.contact-us h4 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
}

.contact-us p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #FFD6C0;
}

.Payments h4 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
}

.Payments p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #FFD6C0;
}

.legalEssentials h4 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
}

.legalEssentials p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #FFD6C0;
}

.follow-us h4 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
}

.follow-us p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #FFD6C0;
}

/* -----------------footer-section----------------- */


/* -----------------SingleProductPageCss----------------- */


/* -----------------ProductDisplayAndDescription----------------- */


.productDisplay {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 0fr 0fr 1fr;
}

.productVariousAngles-1 {
    display: none;
}

.productVariousAngles {
    width: 130px;
    height: 110px;
    margin-left: 1rem;
    margin-top: 0;
}

.productVariousAngles img {
    width: 130px;
    height: 110px;
    border: 1px solid #C67A2F;
    border-radius: 20px;
}

.productVariousAngle-1 {
    margin-top: 1rem;
}

.productMainAngle {
    width: 749px;
    height: 586px;
    padding-left: 1rem;
    margin-top: 1rem;
}


.productMainAngle img {
    width: 749px;
    height: 586px;
    border: 1px solid #C67A2F;
    border-radius: 20px;
}

.prices {
    display: grid;
    grid-template-columns: 0fr 0fr;
}

.prices .mrp h4 {
    color: gray;
    text-decoration: line-through;
}

.productDescription h3 {
    font-family: "Inter", 'sans-serif';
    font-size: 22px;
    margin-left: 2rem;
    margin-top: 0;
}


.productDescription h4,
h5 {
    font-family: "Inter", 'sans-serif';
    font-size: 1rem;
    margin-left: 2rem;
}

.productDescription p {
    font-family: "Inter", 'sans-serif';
    font-size: 1rem;
    margin-left: 2rem;
}

.productDescription hr {
    width: 443px;
    margin-left: 2rem;
}

.colour-txt-cart-btn {
    display: flex;
    gap: 2rem;
}


.colorPicker {
    margin-top: 0;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.colour-txt {
    font-family: "Inter", 'sans-serif';
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}


.orangeCircle {
    width: 15px;
    height: 16px;
    background-color: #FF9A62;
    border-radius: 50%;
    cursor: pointer;
}

.whiteCircle {
    width: 15px;
    height: 16px;
    background-color: #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
}

.pinkCircle {
    width: 15px;
    height: 16px;
    background-color: #FEBFBF;
    border-radius: 50%;
    cursor: pointer;
}


.cart-Button {
    width: 126px;
    height: 48px;
    background-color: #1E3231;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.cart-Button:hover {
    background-color: #31676b;
    color: white;
    cursor: pointer;
}


.RingSize p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

#ring-sizes {
    width: 280px;
    height: 60px;
    padding: 10px;
    border: white;
    border-radius: 8px;
    background: white;
    margin-left: 1rem;
    box-shadow: 1px 0 10px 1px #c6c6c6;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #666666;

}

/* -----------------ProductDisplayAndDescription----------------- */



/* -----------------SingleProductPageCss----------------- */



/* -----------------OrderSummaryCss----------------- */

.order-summary-txt h5 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.cart-items-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.cart-img-1 {
    width: 208px;
    height: 178px;
    border: 1px solid #FFD6C0;
    margin-left: 1rem;
}

.cart-img-1 img {
    width: 208px;
    height: 178px;
}

.cart-item-quantity-desc {
    display: flex;
}

.cart-item-right-desc {
    margin-left: 1rem;
}

.cart-item-quantity-desc .cart-item-right-desc .item-title {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
}

.cart-item-quantity-desc .cart-item-right-desc .qty,
.price {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #000;
}


.addressForm {
    width: 549px;
    height: 715px;
    border: 1px solid #C67A2F;
}

.addressForm .nameLabel {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin-top: 55px;
    margin-left: 38px;
}

::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #666666;
    padding: 5px;
}


.addressForm .emailLabel {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 38px;
}

.addressForm .phoneLabel {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-left: 38px;
}

.addressForm .address-1Label,
.address-2Label,
.address-3Label {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-left: 38px;
}

.addressForm input {
    margin-top: 6px;
    margin-left: 40px;
    padding: 2px;
    width: 458px;
    height: 40px;
    border-radius: 20px;
    border-color: #FFD6C0;
    border: 1px solid #FFD6C0;
}

.pincode {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.pincode .pincodeLabel {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-left: 38px;
}

.pincode .pincodeLabel .pin {
    margin-top: 7px;
    margin-left: 0;
}

.pincode .cityLabel {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-left: 38px;
}

.pincode .cityLabel .city {
    margin-top: 7px;
    margin-left: 0;
}


.pincode input {
    padding: 2px;
    width: 185px;
    height: 40px;
    border-radius: 20px;
    border-color: #FFD6C0;
    border: 1px solid #FFD6C0;
}

.delievery-btn button {
    width: 458px;
    height: 48px;
    padding: 5px;
    background: #1E3231;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-top: 37px;
    margin-left: 38px;
}

.delievery-btn button:hover {
    background-color: #31676b;
    color: white;
    cursor: pointer;
}


/*------------------RingProductPageCss---------------*/
.horizontal-grid-section {
    width: auto;
    height: 232px;
    background-color: #1E3231;
    margin-top: 1.5rem;

}

.inside-hori-grid {
    display: flex;
}

.horizontal-grid-section h3 {
    font-family: "Inter", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    color: #F3DECE;
    margin-left: 3rem;
}

.horizontal-grid-section h3 span {
    color: #C67A2F;
}


.sort-by h3 {
    font-family: "Inter", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    color: #F3DECE;
    margin-right: 1.5rem;
}

.sort-by h3 span {
    color: #C67A2F;
}

.filter-icons {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.Rings-title h3 {
    font-family: "Inter", "sans-serif";
    font-size: 2rem;
    font-weight: 500;
}

.container {
    display: flex;
    height: 100%;
}

.range {
    display: none;
}

.sidebar {
    width: 20%;
    height: 1035px;
    background-color: #1E3231;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.sidebar h3 {
    font-family: "Inter", "sans-serif";
    font-size: 20px;
    font-weight: 400;
    color: #C67A2F;
    margin-top: 50px;
    margin-left: 30px;
}

.main-content {
    width: 70%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    margin-left: 3rem;
}

.card h3 {
    font-family: "Inter", "sans-serif";
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.card p {
    font-family: "Inter", "sans-serif";
    font-size: 14px;
    text-align: center;
    color: #c6c6c6;
}

.card span {
    font-family: "Inter", "sans-serif";
    font-size: 14px;
    text-align: center;
    color: #C67A2F;
}

.card h4 {
    font-family: "Inter", "sans-serif";
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.product-type h3 {
    font-family: "Inter", "sans-serif";
    font-size: 20px;
    font-weight: 400;
    color: #C67A2F;
    margin-top: 50px;
    margin-left: 30px;
}

.radio-btns {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    gap: 0.5rem;
}

.ring-radio-btn span {
    font-family: "Inter", "sans-serif";
    font-size: 1rem;
    color: #F3DECE;
}

/*------------------RingProductPageCss---------------*/

/* -----------------OrderSummaryCss----------------- */



/* -----------------OrderSummaryFinalCss----------------- */


.subTotalsec {
    width: 549px;
    height: 330px;
    border: 1px solid #C67A2F;
}

.subtotal {
    display: flex;
    column-gap: 15rem;
    margin-left: 40px;
}

.delievery-free {
    display: flex;
    column-gap: 18.5rem;
    margin-left: 40px;
}

.total {
    display: flex;
    column-gap: 16rem;
    margin-left: 40px;
}

.subTotalsec .subtotal:nth-child(1) {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1E3231;
}

.subTotalsec .subtotal:nth-child(2) {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #1E3231;
}

.subTotalsec .delievery-free:nth-child(2) {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1E3231;
}

.subTotalsec .total .tot-h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #1E3231;
}

.subTotalsec .total .tot-p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1E3231;
}

.continue-btn button {
    width: 458px;
    height: 48px;
    padding: 5px;
    background: #1E3231;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-top: 37px;
    margin-left: 38px;
}

.continue-btn button:hover {
    background-color: #31676b;
    color: white;
    cursor: pointer;
}


.addressDisplaySec {
    width: 619px;
    height: 513px;
    border: 1px solid #C67A2F;
    margin-left: 1rem;
}

.addressDisplaySec p {
    margin-top: 39px;
    margin-left: 40px;
}

.update-btn-1 button:hover {
    background-color: #31676b;
    color: white;
    cursor: pointer;
}


.update-btn-1 button {
    width: 399px;
    height: 48px;
    /* padding: 5px; */
    background: #1E3231;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    margin-left: 2rem;
}

/* -----------------OrderSummaryFinalCss----------------- */



/* -----------------PaymentDetailsCss----------------- */

.payment-details-txt h5 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
}


.paypal-btn {
    width: 458px;
    height: 48px;
    padding: 5px;
    background: #FFCC00;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-top: 37px;
    margin-left: 38px;
}

.paypal-btn:hover {
    cursor: pointer;
}

.debit-card-btn {
    width: 458px;
    height: 48px;
    padding: 5px;
    background: #2E2E2D;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-top: 7px;
    margin-left: 38px;
}

.debit-card-btn:hover {
    cursor: pointer;
    background: #000;
}

.paypal-btn img {
    width: 72px;
    height: 40px;
}


/* -----------------PaymentDetailsCss----------------- */


/* -----------------OrderConfirmPageCss----------------- */

.orderConfirm-details-txt h5 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.orderConfirmed-txt h5 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.arrivingDate p {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 30px;
}

.order-Confirmed-icon {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.order-Confirmed-icon img {
    width: 139px;
    height: 139px;
}


.ConifrmedDetails {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.cart-img-1-order {
    display: flex;
}

.itemImg {
    width: 208px;
    height: 178px;
}

.itemImg img {
    width: 208px;
    height: 178px;
    border: 1px solid #FFD6C0;
}

.cart-img-1-order .cart-item-right-desc .item-title {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
}

.cart-img-1-order .cart-item-right-desc .qty,
.price {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #000;
}

/* -----------------OrderConfirmPageCss----------------- */




/* -----------------CartPageCsss----------------- */
.myCart-title h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 2rem;
}

.categoriesSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 2rem;
}

.categoriesSection h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.hr-1 {
    width: 100%;
    border: 1px solid #C67A2F;
}


.productsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: start;
}

.prod1-img {
    width: 208px;
    height: 178px;
}


.prod1-img img {
    width: 208px;
    height: 178px;
}

.prod2-img {
    width: 208px;
    height: 178px;
}

.prod2-img img {
    width: 208px;
    height: 178px;
}

.prod3-img {
    width: 208px;
    height: 178px;
}

.prod3-img img {
    width: 208px;
    height: 178px;
}

.prod-title h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
    font-weight: 400;
    padding-top: 45%;
}

.prod2-title h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
    font-weight: 400;
    padding-top: 45%;
}

.prod3-title h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #C67A2F;
    font-weight: 400;
    padding-top: 45%;
}


.prod-color,
.prod2-color,
.prod3-color {
    display: flex;
    padding-top: 25%;
    padding-left: 1rem;
}

.grayCircle {
    width: 15px;
    height: 16px;
    border-radius: 50%;
    background-color: #DEDEDE;
}

.SizeRing {
    display: flex;
    padding-top: 25%;
    padding-left: 1rem;
}


.SizeRing .size-Ring span {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.qtyCategory {
    display: flex;
    padding-top: 20%;
    padding-left: 0.5rem;
}

.qtyCategory .minus-left {
    padding-top: 1rem;
    padding-right: 1rem;
}

.qtyCategory .minus-left img {
    width: 16px;
    height: 17px;
}

.qtyCategory .plus-right img {
    width: 16px;
    height: 17px;
}

.qtyCategory .plus-right {
    padding-top: 1rem;
    padding-left: 1rem;
}

.totalCategory {
    display: flex;
    padding-top: 20%;
    padding-left: 1rem;
}

.RingSize .size-Ring h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.qtyCategory h3 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}


.totalCategory h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}


.CartTotal {
    width: 549px;
    height: 330px;
    border: 1px solid #C67A2F;
    margin-top: 27px;
    margin-left: 1rem;
}


.subtotal-1 {
    display: flex;
    column-gap: 15.5rem;
    margin-left: 40px;
}

.delievery-free-1 {
    display: flex;
    column-gap: 18.5rem;
    margin-left: 40px;
}

.total-1 {
    display: flex;
    column-gap: 15.5rem;
    margin-left: 40px;
}

.CartTotal .subtotal-1 h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #1E3231;
}

.CartTotal .subtotal-1 p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #1E3231;
}

.CartTotal .delievery-free-1 h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #1E3231;
}

.CartTotal .delievery-free-1 p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1E3231;
}

.CartTotal .total-1 h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #1E3231;
}

.CartTotal .total-1 p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1E3231;
}

.continue-btn-1 button {
    width: 458px;
    height: 48px;
    padding: 5px;
    background: #1E3231;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-top: 37px;
    margin-left: 38px;
}

.continue-btn-1 button:hover {
    background-color: #31676b;
    color: white;
    cursor: pointer;
}

/* -----------------CartPageCsss----------------- */